/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// overwrite styles
.el-header {
    padding: 0;
    z-index: 2;
}

.el-menu {
    border-right: none;
}

.el-menu.el-menu--horizontal {
    position: fixed;
    top: -1px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}

.el-menu::before, .el-menu::after {
    display: none;
}

.day-form__radio-mark .el-radio__input {
    display: none;
}

@media screen and (max-width: 768px) {
    .el-message-box__wrapper {
        padding: 15px;
    }

    .el-message-box {
        width: unset;
        max-width: 420px;
    }
}