/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// overwrite styles
.el-header {
    padding: 0;
}

.el-menu.el-menu--horizontal {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}

.el-menu::before, .el-menu::after {
    display: none;
}