@import "./variables.scss";

// -----------------------------------------------------------------------------------------------------
// @ Spacing helpers
// -----------------------------------------------------------------------------------------------------
@each $size, $length in $spacers {
  @each $prop, $abbrev in (margin: m) {
    @each $side in $sides {
      .#{$abbrev}#{str-slice($side, 0, 1)}-#{$size} {
        #{$prop}-#{$side}: #{$length};
      }
    }

    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length;
      #{$prop}-left: $length;
    }

    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length;
      #{$prop}-bottom: $length;
    }

    .#{$abbrev}-#{$size} {
      #{$prop}-top: $length;
      #{$prop}-bottom: $length;
      #{$prop}-right: $length;
      #{$prop}-left: $length;
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
// -----------------------------------------------------------------------------------------------------
// @ Font
// -----------------------------------------------------------------------------------------------------
.font-bold {
  font-weight: bold;
}

// -----------------------------------------------------------------------------------------------------
// @ Sizing
// -----------------------------------------------------------------------------------------------------
.w-full {
  width: 100%;
}

// -----------------------------------------------------------------------------------------------------
// @ Background
// -----------------------------------------------------------------------------------------------------
.bg- {
  &red {
    background-color: $red-400;
  }

  &green {
    background-color: $success;
  }

  &lightgreen {
    background-color: $green-200;
  }

  &white {
    background-color: #fff;
  }

  &yellow {
    background-color: $yellow-400;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Colors
// -----------------------------------------------------------------------------------------------------
.text- {
  &gray--700 {
    color: $gray-700;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Alignment
// -----------------------------------------------------------------------------------------------------
.text-center {
  text-align: center;
}

// -----------------------------------------------------------------------------------------------------
// @ SVG
// -----------------------------------------------------------------------------------------------------
.fill-current {
  fill: currentColor;
}

// -----------------------------------------------------------------------------------------------------
// @ Overflow
// -----------------------------------------------------------------------------------------------------
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// -----------------------------------------------------------------------------------------------------
// @ Shadows
// -----------------------------------------------------------------------------------------------------
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
