@import "./variables.scss";

// -----------------------------------------------------------------------------------------------------
// @ Spacing helpers
// -----------------------------------------------------------------------------------------------------
@each $size, $length in $spacers {
  @each $prop, $abbrev in (margin: m) {
    @each $side in $sides {
      .#{$abbrev}#{str-slice($side, 0, 1)}-#{$size} {
        #{$prop}-#{$side}: #{$length};
      }
    }

    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length;
      #{$prop}-left: $length;
    }

    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length;
      #{$prop}-bottom: $length;
    }

    .#{$abbrev}-#{$size} {
      #{$prop}-top: $length;
      #{$prop}-bottom: $length;
      #{$prop}-right: $length;
      #{$prop}-left: $length;
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// -----------------------------------------------------------------------------------------------------
// @ Background
// -----------------------------------------------------------------------------------------------------
.bg- {
  &red {
    background-color: $red-400;
  }

  &green {
    background-color: $success;
  }

  &lightgreen {
    background-color: $green-200;
  }

  &white {
    background-color: #fff;
  }

  &yellow {
    background-color: $yellow-400;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Alignment
// -----------------------------------------------------------------------------------------------------
.text-center {
  text-align: center;
}
