.red {
    background-color: $danger;
}

.green {
    background-color: $success;
}

.lightgreen {
    background-color: $lightgray;
}

.white {
    background-color: $extra-light-border;
}

.yellow {
    background-color: $warning;
}