$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #C0C4CC;
$base-border: #DCDFE6;
$light-border: #E4E7ED;
$lighter-border: #EBEEF5;
$extra-light-border: #F2F6FC;
$light-teal: #a3e1db;

$success: #67C23A;
$danger: #F56C6C;
$warning: #E6A23C;
$lightgray: lighten($color: $success, $amount: 25);
$main-bg: #d3d3d324;


$white: #fff;

//GRADIENTS
$gray-gradient: linear-gradient(to right, #fcfcfc 0%, #d3d3d352 100%);
$green-gradient: linear-gradient(to right, #fcfcfc 0%, #67c23abd 100%);
$teal-gradient: linear-gradient(135deg, rgba(0,128,128,1) 0%, rgba(96,163,163,1) 100%);